<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-controller="PhoneListCtrl">

  	<h1>{{title}}</h1>
  	<p>{{today | date:'dd/mm/yyyy'}}</p>

  	<input type="text" ng-model="query">

    <ul>
		<li ng-repeat="phone in phones | filter:query">
			
			<span>{{phone.name}}</span>
			<p>{{phone.snippet}}</p>
			
		</li>
    </ul>

    <p>Телефонов в каталоге: {{phones.length}}</p>

    <table> 
		<tr>
			<td><a href="" ng-click="sort('name')">Имя
				<i class="glyphicon" ng-class="{' glyphicon-arrow-up' : isSortUp('name'),
				' glyphicon-arrow-down' : isSortDown('name')}"></i>
			</a></td>
		</tr>
		<tr ng-repeat="phone in phones | orderBy:sortField:reverse">
			<td>{{phone.name}}</td>
		</tr>
    </table>

  </body>
</html>
